* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
.page-content {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 1em;
  margin: 2em;
  border: solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
}
/* HOMEPAGE */
/* HOMEPAGE - header */
.main-header {
  padding: 1em 2em;
}
.main-header-nav {
  text-align: right;
}
.main-header-nav-login-link {
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background-color: #293a80;
  border-radius: 6px;
  border: 1px solid #293a80;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.main-header-nav-login-link:hover {
  background: linear-gradient(to bottom, #378de5 2%, #293a80 100%);
  background-color: #378de5;
}
.main-header-nav-login-link:active {
  position: relative;
  top: 1px;
}

/* HOMEPAGE - NAV */
.main-nav {
  position: sticky;
  top: 10px;
  background-color: #293a80;
  border: 2px solid #293a80;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
}
.main-nav-links {
  padding: 0px 30px;
  list-style: none;
  display: inline-block;
}
.main-nav-links a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}
.main-nav-links a:hover {
  background: linear-gradient(to bottom, #378de5 2%, #293a80 100%);
  background-color: #378de5;
  border-radius: 8px;
}

/* HOMEPAGE - body */
body {
  background-color: #f7f7f7;
  font-family: "Nunito Sans", sans-serif;
}
main {
  display: inline-block;
  margin: 20px 30px 0px 20px;
}
.slider {
  margin: auto;
}
.pre-btn {
  float: left;
  display: inline-block;
  margin: auto;
  margin-top: 20em;
  width: 10%;
  padding: 2em;
}
.nxt-btn {
  float: right;
  display: inline-block;
  margin-top: 20em;
  width: 10%;
  padding: 2em;
}

.header-title {
  text-align: center;
  border-bottom: solid rgba(0, 0, 0, 0.2);
  margin: 2em;
}
.movie-container {
  display: inline-block;
  width: 80%;
}
.movie-card {
  display: inline-block;
  border: solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 2em;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
  margin: 3em;
}
.movie-card-image {
  width: fit-content;
  margin: auto;
}
.movie-card-info {
  text-align: center;
  margin-bottom: 2em;
}
.movie-list-movies-image {
  display: inline-block;
  width: 24%;
  float: left;
}
.movie-list-movies-content {
  display: inline-block;
  background-color: gainsboro;
  border: solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 70%;
}
.movie-list-movies-description {
  text-align: justify;
  font-style: italic;
}

footer {
  clear: both;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 1em;
  margin: 2em;
  border: solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.2);
}
